
body { color:white; background-color:#232323; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:x-large}

.guess-box { /*background-color:lime;*/ display:flex; gap:20px; padding:20px; justify-content:center; }

.letter-box { width:50px; aspect-ratio:1/1; background-color:goldenrod; align-items:center; justify-content:center; display:flex; color:black;}

.difficulty-selector { display:flex; gap:30px; padding:30px; justify-content:center; color:black }

.difficulty { width:90px; aspect-ratio:2/1; border:2px solid black; font-size:x-large; display:flex; justify-content: center; align-items: center; }

.difficulty--easy { background-color: green; }

.difficulty--medium { background-color: yellow; }

.difficulty--hard { background-color: red; }

.text-message { font-size:xx-large; display:flex; justify-content:center;  }

.letter-selector { padding:20px; display:flex; justify-content:center; flex-wrap:wrap; margin-left:25%; margin-right:25%; }

.letter-selector--row { display:flex; justify-content:center; }

.letter { width:45px; aspect-ratio:1/1; border:2px solid black; font-size:x-large; }

.hidden { visibility:hidden; padding:0px; gap:0px}

.letter-box__correct { background-color:gold; }

.hangman { display:flex; flex-direction:column; align-items:center; font-size: 40px; }

.hangman__torso { display:flex; }

.hangman__legs { display:flex; }

.hangman__part { margin:0px; }

.red-background { background-color:red; }

.play-again { display:flex; flex-direction:column; align-items:center; width:90px; aspect-ratio:2/1; border:2px solid black; font-size:x-large;}